@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

nav {
    background-color: #9ac01e;
    font-family: amiri;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.sections section {
    font-family: amiri;
    width: 40%;
    border-radius: 10px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 3em;
    margin-bottom: .4em;
    /* background-color: teal; */
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 7px 7px lightgray;
}

.about, .contact {
    direction: rtl;
    width: 90%;
    border: 1px solid lightgray;
    box-shadow: 0 0 7px 7px lightgray;
    font-size: 1.3em;
    color: #333;
    border-radius: 10px;
}

footer {
    background-color: #2d711f;
    padding: 1em 2em;
    font-family: amiri;
    font-size: 1.4em;
    direction: rtl;
}


@media screen and (max-width: 768px) {
    nav ul li {
        padding: 1.2em .5em;
        font-size: .8em;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    main section {
        width: 90%;
        /* font-size: 2em; */
    }
    
    .sections section {
        width: 90%;
    }
    
    .staff section {

        width: 90%;
    }


    .container {
        width: 90%;
    }

    .info {
        display: block;
        /* display: flex; */
        align-items: center;
    }
    
}