@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
}

nav {
    background-color: #bada55;
    font-family: amiri;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    text-transform: uppercase;
    color: #222;
}

nav ul li a {
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: .9em;
    font-weight: 700;
    letter-spacing: 1px;
    height: 60px;
}

nav ul li:hover {
    background-color: #ddd;
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    font-family: amiri;
}

.sections {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.sections section {
    font-family: amiri;
    width: 40%;
    border: 1px solid gray;
    border-radius: 10px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 3em;
    margin: .4em;
    /* background-color: teal; */
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.25);
}

main section a {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}




.container {
    direction: rtl;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin: 2em auto;
    font-family: amiri;
}

#quiz {
    display: none;
}

.container-header {
    padding: 2em;
}

#list {
    list-style-type: none;
    padding: 0;
}

#list li {
    margin: 1em 0;
    font-size: 1.3em;
    border-bottom: 1px solid lightgray;
    padding: .5em;
    align-items: center;
    display: flex;
}

#list li label {
    margin: 0 10px;
}

input[type='radio']{
    width: 20px;
    height: 20px;
}

#image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.img {
    /* border: 1px solid #111; */
    border-radius: 20% 50% 50% 50%;
    animation: rotate 1s linear;
}

@keyframes rotate {
    0% {
        transform: scale(0.2);
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
        transform: rotate(360deg);
    }
}

button {
    width: 100%;
    background-color: #bada55;
    border: none;
    display: block;
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
    font-weight: 800;
}

button:hover {
    background: #789d00;
}

.about {
    direction: rtl;
    width: 90%;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px 5px lightgray;
    font-size: 1.3em;
}

.about h1 {
    text-align: center;
    margin: .5em;
}

.about p {
    margin: 1em;
}

.staff {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    direction: rtl;
}

.staff section {
    width: 90%;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 7px 7px lightgray;
    font-size: 1.2em;
    margin: 1em;
}

.info {
    display: flex;
}

.info img {
    margin-left: 1em;
}


@media screen and (max-width: 768px) {
    nav ul li {
        padding: 1.2em .5em;
        font-size: .8em;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    main section {
        width: 90%;
        /* font-size: 2em; */
    }

    .sections section {
        width: 90%;
    }


    .container {
        width: 90%;
    }

    .info {
        display: block;
    }
    
}
